form{
    text-align:center;
    height:100vh;
    background-image:url("pic.jpg");
    background-size:cover;
}
dt {
    border-top: 2px solid red;
    border-left: 2px solid red;
}
table {
    border: 1px solid red;
    width: 100%;
    border-left: 2px solid red;
    border-right: 2px dotted red;
}
input{
    border: 3px solid black;
}
td{
    border: 1px solid black;
    text-align:center;
}